<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Help</title>
  </head>
  <body>
    <h1>Need help?</h1>

    <h3>Get help on:</h3>

    <ul>
      <li>Technical help</li>
      <li>Report another user</li>
      <li>Report a fraud</li>
    </ul>
  </body>
</html>
