<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="center jumbotron">
      <h1 id="first">CHAMBERS</h1>
      <div class="homeText">
      <h3>Where people connect!</h3><br /><br />

      <%= link_to "Sign up!", '/signup', class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in!", '/login', class: "btn btn-lg btn-primary" %>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <%= image_tag("HomePage.jpg", alt: "City image", :size => "1000x600") %>
    </div>
  </body>
</html>
