<% provide(:title, "New booking") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>
    <h1>Book a property</h1>

    <%= render 'form', booking: @booking %>

    <%= link_to 'Back', bookings_path, class: "btn btn-sm btn-success" %>
  </body>
</html>
