<% provide(:title, "Users") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Users</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h1>Users</h1>
    <div class="users_index">
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>

            
          </li> <br />
        <% end %>
      </ul>
    </div>
  </body>
</html>
