<div class="row">
  <div class="spacer"></div>
  <div class="col-md-12">
    <%= link_to "New message", new_conversation_path, class: "btn btn-success btn-dark" %>
    <div class="spacer"></div><br />
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">

          <%= render 'conversations/form' %>

      </div>
    </div>
  </div>


</div>
