<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>

    <div class="center jumbotron">
      <h1>Need help?</h1>

      <h3>Get help on:</h3>

      <ul>
        <li>Technical help</li>
        <li>Report another user</li>
        <li>Report a fraud</li>
      </ul>

    </div>
  </body>
</html>
