footer {
  margin-top: 1000px;
  padding-top: 25px;
  border-top: 3px solid #eaeaea;
  color: #777;
  a {
    color: #ff0080;
    &:hover {
      color: #8000ff;
      background-color: inherit;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}
