.navbar-right{
  float: right;
  padding-right: 5px;
  .singlelink{
    float: left;
    text-align: center;
  }
}

#logo {
  float: left;
  margin-right: 1px;
  font-size: 1.7em;
  color: #ffff00;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 10px;
  font-weight: bold;
  text-shadow: 0 0 10px grey;
  font-family: Helvetica, sans-serif;
  &:hover{
    color: #00ffbf;
    text-decoration: none;
    background-color: inherit;
}
}

body{
  padding-top: 70px;
  padding-bottom: 30px;
}
