// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prop_index{
  ul{
    padding-left: 20px;
    padding-right: 10px;

    li{
      padding-left: 10px;
      padding-right: 10px;

      :hover {
          color: #8000ff;
          background-color: transparent;
        }
      }
    }

}
