// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prop_index{
  th{
    padding-left: 20px;
    padding-right: 10px;
  }
  td{
    padding-left: 10px;
    padding-right: 10px;
  //  margin-left: 20px;
  }
  #firstcolumn{
    padding-left: 20px;
  }
}
