// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-fluid{
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  .row-fluid{
    text-align: center;
    padding: inherit;
    width: inherit;
  }

  .img-responsive{
    margin: 0 auto;
    padding: inherit;
    width: inherit;
  }

  @media (max-width: 600px) {
    padding: inherit;

  }
}

.usersheader{
  font-family: verdana times serif;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: 2px;

}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.users_index{
  ul{
    padding-right: 10px;
    padding-left: 20px;
  }
  li{
    overflow: auto;

    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    :active{
      background-color: inherit;
    }
    :hover{
      background-color: inherit;
      color: #009900;
    }
  }

}

.form-group{
  text-align: center;
}

.actions{
  text-align: center;
}
