<% if object.errors.any? %>
  <h3>The following errors prenvented from saving:</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
