<footer class="footer">
  <small>
    <a href="/static_pages/home">Chambers</a>
    by Melania Calvo Blanco</a>
  </small>
  <nav>
    <ul>
      <li href="#"><%= link_to "Facebook",   '#' %></li>
      <li href="#"><%= link_to "Twitter", '#' %></li>
      <li href="#"><%= link_to "Instagram", '#' %></li>
    </ul>
  </nav>
</footer>
