<footer class="footer">
  <small>
    <a href="/static_pages/home">Chambers</a>
    by Melania Calvo Blanco</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/"><%= image_tag("Facebook.png", alt: "Facebook", :size => "50x50") %></a></li>
      <li><a href="https://twitter.com/?lang=en"><%= image_tag("Twitter.png", alt: "Twitter", :size => "50x50") %></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><%= image_tag("Instagram.jpg", alt: "Instagram", :size => "50x50") %></a></li>
    </ul>
  </nav>
</footer>
